<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">Admin console</a>
    <button (click)="toggleSidebar()" class="navbar-toggler" type="button">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i aria-hidden="true" class="fa fa-bars text-muted"></i>
    </button>
    <div class="collapse navbar-collapse">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" placeholder="{{ 'Search' | translate }}" type="text" />
        </form>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-none d-xl-block">
                <a
                    class="nav-link btn mt-1"
                    href="https://github.com/start-angular/SB-Admin-BS4-Angular-7/archive/master.zip"
                    role="button"
                    style="padding: 0.375rem 1rem !important; border-color: #999;"
                >
                    {{ 'Download Now' | translate }}
                </a>
            </li>
            &nbsp;
            <!--
            <li class="nav-item">
                <a
                    (click)="rltAndLtr()"
                    class="nav-link mt-1"
                    href="javascript:void(0)"
                    style="padding: 0.375rem 1rem !important; border-color: #999;"
                >
                    RTL/LTR
                </a>
            </li>
            -->
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-envelope"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <ul class="dropdown-menu-right messages" ngbDropdownMenu>
                    <li class="media">
                        <img
                            alt="Generic placeholder image"
                            class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                        />
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">administrator</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last">Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img
                            alt="Generic placeholder image"
                            class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                        />
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">administrator</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last">Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img
                            alt="Generic placeholder image"
                            class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                        />
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">administrator</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last">Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        {{ 'Pending Task' | translate }} <span class="badge badge-info">6</span>
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        {{ 'In queue' | translate }} <span class="badge badge-info"> 13</span>
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        {{ 'Mail' | translate }} <span class="badge badge-info"> 45</span>
                    </a>
                    <li class="dropdown-divider"></li>
                    <a class="dropdown-item" href="javascript:void(0)">
                        {{ 'View All' | translate }}
                    </a>
                </div>
            </li>
            <!--
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-language"></i> {{ 'Language' | translate }} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a (click)="changeLang('en')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'English' | translate }}
                    </a>
                    <a (click)="changeLang('ur')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'Urdu' | translate }}
                    </a>
                </div>
            </li>
            -->
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-user"></i> administrator <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}
                    </a>
                    <a (click)="onLoggedout()" [routerLink]="['/login']" class="dropdown-item">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
