<div [@routerTransition] class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Admin Page</h1>
            <form role="form" [formGroup]="credentialsForm" (ngSubmit)="onLoggedin()">
                <div class="form-content">
                    <div class="form-group">
                        <input
                            [placeholder]="'Email' | translate"
                            formControlName="email"
                            class="form-control input-underline input-lg"
                            type="text"
                        />
                    </div>

                    <div class="form-group">
                        <input
                            [placeholder]="'Password' | translate"
                            formControlName="password"
                            class="form-control input-underline input-lg"
                            type="password"
                        />
                    </div>
                </div>
                <button type="submit" [disabled]="!credentialsForm.valid" class="btn rounded-btn">{{
                    'Log in' | translate
                }}</button>
            </form>
        </div>
    </div>
</div>
