<div [@routerTransition]>
    <app-page-header [heading]="'Upload Series'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">
            <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <fieldset class="form-group">
                    <label>Title</label>
                    <input class="form-control" formControlName="title" placeholder="Enter title" />
                </fieldset>

                <fieldset class="form-group">
                    <label>Author</label>
                    <input class="form-control" formControlName="author" placeholder="Enter author" />
                </fieldset>

                <fieldset class="form-group">
                    <label>URL path Name</label>
                    <input class="form-control" formControlName="urlPath" placeholder="Enter path" />
                </fieldset>

                <fieldset class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" formControlName="description" placeholder="Enter description" rows="3"></textarea>
                </fieldset>

                <fieldset class="form-group">
                    <label for="thumb">Main Thumbnail Image</label>
                    <input class="form-control-file" id="thumb" name="file" type="file" ng2FileSelect [uploader]="uploader" accept=".jpg" />
                    <p class="help-block">(240x254)</p>
                </fieldset>

                <fieldset class="form-group">
                    <label for="backdrop">Background Image</label>
                    <input class="form-control-file" id="backdrop" name="file" type="file" ng2FileSelect [uploader]="uploader" accept=".jpg" />
                    <p class="help-block">(720x560)</p>
                </fieldset>

                <h3>Upload queue</h3>
                <p>Queue length: {{ uploader?.queue?.length }}</p>
    
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>

                <button class="btn btn-secondary" type="reset" (click)="uploader.clearQueue()">Reset</button>
                &nbsp;&nbsp;
                <button class="btn btn-primary" type="submit"
                    [disabled]="form.invalid">
                    Submit
                    <!--
                    <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
                    -->
                </button>
                
            </form>
        </div>
       
    </div>
    <!-- /.row -->
</div>
