<div [@routerTransition]>
    <app-page-header [heading]="'Upload Episode'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">
            <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label>Selects Series</label>
                    <select class="form-control" formControlName="comic_id" (change)="seriesActive()">
                        <option label="-- select series --"></option>  
                        <option *ngFor="let comic of comics" [value]="comic.comidID">{{ comic.title }}</option>
                    </select>
                </div>

                <fieldset class="form-group">
                    <label>Name</label>
                    <input class="form-control" placeholder="Enter title" formControlName="name"/>
                </fieldset>

                <fieldset class="form-group">
                    <label>Index</label>
                    <input class="form-control" type="number" placeholder="Enter index number" formControlName="index_n"/>
                </fieldset>

                <fieldset class="form-group">
                    <label>Date</label>
                    <input (click)="a.toggle()" placeholder="update date" class="form-control" formControlName="reg_date"
                    ngbDatepicker #a="ngbDatepicker">
                </fieldset>

                <div class="file-upload">
                    <label>Pick an thumb image (240x254)</label>
                    <div class="btns clearfix">
                        <input type="file" name="thumb" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg" />
                    </div>
                    <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                      Upload
                    </button>
                </div>
 
                <button class="btn btn-cancel" type="reset">Reset</button>
                <button type="submit" class="btn btn-save pull-right"
                    [disabled]="form.invalid || loading">
                    Submit
                    <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
                </button>
                
            </form>
            <pre>{{ form.value | json }}</pre>
            <pre>{{ result | json }}</pre>
        </div>
       
    </div>
    <!-- /.row -->
</div>
